{% extends 'base.html' %}

{% block title %} Django TODO app - Edit task{% endblock %}
{% block content %}
    <div class="container">
        <h3 class="pt-5 pb-5 text-center">
            Django TODO app - Edit task
        </h3>
        <form action="{% url 'edit_task' get_task.id %}" method="POST" style="width: 500px; margin: auto">
            {% csrf_token %}
            <div class="form-group">
                <span style="display: flex;">
                    <input type="text" name="task" class="form-control" placeholder="Add a task" value="{{ get_task.task }}">
                    <button type="submit" class="btn btn-primary" style="width: 200px;"><i class="fa fa-plus"></i> Update</button>
                </span>
            </div>
        </form>
    </div>
{% endblock %}